@charset "utf-8";
body{
	background-color:gray;
	color:purple	}
ul {
	list-style-type:circle;
	font-weight:bold;
	color: #31820E}
ul li ul li {
	list-style-type:square;
	font-weight:bold;
	color:blue}
ul li ul p {
	font-weight:bold;
	font-style:italic;
	color: #E6AD00}