@charset "utf-8";
body {
  background-color: white; 
}


.tab-links {
  overflow: hidden;
  background-color:#E6E6FA;
}

.tablink {
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
	border: 1px solid;
	border-bottom:none;
	background-color: #E6E6FA;
}

.tablink:hover {
  background-color: #C8C8FA;
}
.tablink:focus {
  font-weight: bold;
}

.tab-content {
  clear: both;
	
}

.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid;
  background-color:#E6E6FA;
}



div.posicion_ejercicios{
	display: flex; 
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
}

.max_foto{
	max-height: 200px;
	max-width: 200px;
	
}
.centrar_fotos_texto{
		text-align: left;
		
	}
.animar_foto:hover{
	box-shadow: 0 8px 40px 4px #7B7BFB ;	
}
.animar_foto{
	transition: box-shadow 0.5s;
	
}

/*MOVIL*/
@media screen and (max-width: 899px) {
div.posicion_ejercicios{
	display: flex; 
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}
	.centrar_fotos_texto{
		text-align: center;
	}
}
