@charset "utf-8";
@font-face{
	font-family:fuente_Kaushan;
	src:url("../fuentes/KaushanScript-Regular.ttf");
		
}
.fuente{
	font-family:fuente_Kaushan;
}


h1{
	font-size: 50pt;
	margin-left: 20px;
	background-image: linear-gradient(to right,#2A2DDA, red);
	color: transparent;
	background-clip: text;
    -webkit-background-clip: text;
}
article.articulo_info{
	padding:8px;
	text-align: center;
	font-size: 20pt;
	margin: 0 10% 0;
	height: auto;
	border: 1px solid;
	border-radius: 20px;
	background-color:#DAEEFD;
            
}
article.articulos_pequenios{
	padding:10px;
	text-align: center;
	width: 40%;
	font-size: 20pt;
	margin: 20px auto;
	display: inline-block;
	height: auto;
	border: 1px solid;
	border-radius: 20px;
	background-color:rgba(61,132,168,0.67); 
	overflow: hidden;
	box-shadow: 0 20px 25px 5px gray;
            
}


article.articulos_grande{
	padding-bottom: 10px;
	text-align: center;
	width: 90%;
	font-size: 20pt;
	margin: 10px;
	height: auto;
	border: 1px solid;
	border-radius: 20px;
	background-color:rgba(61,132,168,0.67);
    overflow: hidden;
	box-shadow: 0 20px 25px 5px gray;
}

div.contenido{
	display: flex;
    justify-content: center;
    flex-wrap: wrap; 
	background-color:#D0D0D0;

}
img.fotos_pequenias{
	width: 75%;
	max-width:900px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 7px 15px blue;
	transition: transform 0.5s;
	
}

img.fotos_grandes{
	width: 75%;
	max-width:900px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 7px 15px blue;
	transition: transform 0.5s;
	
}
article.articulos_pequenios:hover .fotos_pequenias{
	-webkit-transform:scale(1.0);transform:scale(1.05);
}
article.articulos_grande:hover .fotos_grandes{
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
	
}

div.div_boton{
	width:100%;
	text-align: center;
}
a.boton{
		text-align:center;
		padding:4px;
		border-radius:20px;
		background-color: #5271DF;
		text-decoration: none;
		color:white;
		margin:0;
	

	}	
.foto_sustituir {
    display: none; 
	transition: transform 0.5s;
}
.foto_inicial{
	/**No borrar**/
}
.color_titulo_tabla{
	background-color:#7B96F8;
}
table{
	width: 80%;
	text-align: center;
}
table tr th{
	width: 33%;
	background-color: #7B96F8;
}
table td{
	background-color: #9D9D9D;
}
@media screen and (min-width: 1000px){

}

@media screen and (max-width: 575px) {
 article.articulos_pequenios{
	
	text-align: center;
	width: 95%;
	font-size: 20pt;
	margin: 20px auto;
	display: inline-block;
	padding-bottom: 10px;
	height: auto;
	border: 1px solid;
	border-radius: 20px;
	background-color:rgba(61,132,168,0.67); 
	overflow: hidden;
	box-shadow: 0 20px 25px 5px gray;
            
}


article.articulos_grande{
	padding-bottom: 10px;
	text-align: center;
	width: 95%;
	font-size: 20pt;
	margin: 10px;
	height: auto;
	border: 1px solid;
	border-radius: 20px;
	background-color:rgba(61,132,168,0.67);
    overflow: hidden;
	box-shadow: 0 20px 25px 5px gray;
}
}
